# --- build output -----------------------------------------------------------
bin/
build/
dist/
*.o
*.os
*.obj
*.a
*.lib
*.exp
*.dll
*.so
*.dylib
*.framework/
*.pdb
.sconsign.dblite
.scons_env/
*.exe
*.pck
*.zip
*.tar.gz

# --- Godot ------------------------------------------------------------------
.godot/
*.translation
export_presets.cfg
export/

# --- editors / OS -----------------------------------------------------------
.vscode/
.idea/
*.swp
Thumbs.db
desktop.ini
